section#header {
    display:flex;
    justify-content: center;
}

h1, h2 {
    color: rgb(138, 33, 179);
    background-color: rgb(31, 233, 13);
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    border: 1px rgb(16, 117, 7) solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 